<h1><%= @garden.name %></h1>
<p> Location: <i><%= @garden.location %></i></p>
<h3>Plants you'll find here:</h3>
<ul>
  <% @garden.plants.each do |plant| %>
    <li> <%= link_to plant.name, user_garden_plant_path(user_id: @garden.user_id, garden_id: @garden.id, id: plant.id) %> 🌱 Planted on <%= plant.formatted_plant_date %> </li>
   <% end %>
</ul>
